<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.out</target>
    <encoder>
      <pattern>%date{ISO8601} %-5level %logger{36} %X{akkaSource} - %m %ex{full} %n</pattern>
    </encoder>
  </appender>
  <logger name="akka" level="INFO" />
  <logger name="spray" level="INFO" />
  <logger name="com.mycompany" level="INFO" />
  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
